---
import PostCard from "../components/postCard.astro";
import MainLayout from "../layout/MainLayout.astro";

const posts = (await Astro.glob("./blogs/*.{md, mdx}")).sort(
  (b, a) =>
    new Date(a.frontmatter.published).valueOf() -
    new Date(b.frontmatter.published).valueOf()
);
---

<MainLayout title="Ezpie - Blogs">
  <h1 class="text-center text-6xl my-24 font-bold">Blogs</h1>
  <ul class="grid list-none justify-items-center gap-6 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 mb-5 px-8 mx-auto max-w-screen-2xl">
    {
      posts.map((post) => (
        <PostCard
          title={post.frontmatter.title}
          description={post.frontmatter.description}
          author={post.frontmatter.author}
          published={post.frontmatter.published}
          image={post.frontmatter.image}
          permalink={post.frontmatter.permalink}
        />
      ))
    }
  </ul>
</MainLayout>
