---
const {
  title = "Ezpie",
  description,
  author = "unknown",
  published,
  image = "/favicon.svg",
  permalink,
} = Astro.props;
---

<li class="list-none p-0">
  <article class="max-w-sm overflow-hidden bg-gray-800 rounded-xl border-2 border-gray-600 hover:scale-105 duration-500">
    <a href={permalink}>
      <img class="w-full m-0 mb-1 rounded-t-xl" src={image} alt="Image for the post in ezpie" />
      <div class="p-5">
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {title}
        </h5>
        <p
          itemprop="author"
          class="mb-3 font-normal text-gray-400"
        >
          By - {author}
        </p>
        <p class="mb-3 font-normal text-gray-400">
          Published - {published}
        </p>
        <p class="mb-3 font-normal text-gray-400">
          {description}
        </p>
      </div>
    </a>
  </article>
</li>
